#tableAnswers tr[data-flipped="true"] {
	background-color: lightgreen;
}

#tableAnswers.ready tr:not(:first-child) {
	cursor: pointer;
}

.team-label.active {
	background-color: skyblue;
}
.team-info {
	font-size: 14pt;
}